* {
    box-sizing: border-box;
}

body {
    
    padding: 20px;
    font-family: Arial;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}
    
h2 {
    font-size: 25px;
    word-break: break-all;
    text-align: center;
}

.row {
    margin: 10px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 33.33%;
    display: block; 
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 10px;
}

.show {
  display: block;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

   
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-decoration:none; 
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}


.navbar {

  width: 100%;
  background-color: white;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 33.3%; 
  text-align: center;
}

.navbar a:hover {
  background-color:#F7F7F7;
}

.navbar a.active {
  background-color: black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
